.datetime-picker {
    position: relative;
    display: inline-block;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei";
    -webkit-font-smoothing: antialiased;
    color: #333;
}

.datetime-picker * {
    box-sizing: border-box;
}

.datetime-picker input {
    width: 238px;
    outline: 0 none;
    font-size: 13px;
    height: 40px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    &:hover,&:focus,&:active,&:visited {
        outline: 0;
        box-shadow: none;
    }
}

.datetime-picker input[autofocus="autofocus"] {
    display: none;
    pointer-events: none;
    ~.picker-wrap {
        position: relative;
    }
}

.datetime-picker .picker-wrap {
    position: absolute;
    z-index: 1000;
    width: 380px;
    height: 280px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px #ccc;
}

.datetime-picker table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    font-size: 13px;
}

.datetime-picker tr {
    height: 34px;
    border: 0 none;
}

.datetime-picker th,
.datetime-picker td {
    user-select: none;
    width: 34px;
    height: 34px;
    padding: 0;
    border: 0 none;
    line-height: 34px;
    text-align: center;
}

.datetime-picker td {
    cursor: pointer;
}

.datetime-picker td:hover {
    background-color: #f0f0f0;
}

.datetime-picker td.date-pass,
.datetime-picker td.date-future {
    color: #aaa;
}

.datetime-picker td.date-active {
    background-color: #ececec;
    color: #3bb4f2;
}

.datetime-picker .date-head {
    background-color: #3bb4f2;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.datetime-picker .date-days {
    color: #3bb4f2;
    font-size: 14px;
}

.datetime-picker .show-year {
    display: inline-block;
    min-width: 62px;
    vertical-align: middle;
}

.datetime-picker .show-month {
    display: inline-block;
    min-width: 28px;
    vertical-align: middle;
}

.datetime-picker .btn-prev,
.datetime-picker .btn-next {
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}

.datetime-picker .btn-prev:hover,
.datetime-picker .btn-next:hover {
    background: rgba(16, 160, 234, 0.5);
}

/********************* CUSTOM *****************************/

.option--time-days {
    >input {
        padding: 0 1rem;
    }
    >input:hover {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
        border: solid 1px rgba(0, 0, 0, 0.16);
    }
    .picker-wrap {
        background-color: #ffffff;
        border: solid 1px rgba(0, 0, 0, 0.12);
        border-radius: 7px;
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
        height: auto;
        padding: 10px 10px 0 10px;
        transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 200ms;
    }
    .date-picker {
        margin-bottom: 10px;
        .date-head {
            background-color: #fff;
            color: #9b9b9b;
        }
        .date-days {
            th {
                color: #807e7e;
                text-transform: uppercase;
            }
            th:first-child, th:last-child {
                color: #ff4545;
            }
        }
    }
}