.content {
  font-size: 0.875rem;
  .breadcrumb {
    cursor: pointer;
    .btn--back {
      cursor: pointer;
      svg {
        margin-bottom: -5px;
      }
    }
  }
  .wrapper {
    .wrap--table {
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  .content--wrapper {
    .category {
      .icon--sort-down {
        margin-bottom: -8px;
        vertical-align: bottom;
      }
      .multiselect--custom {
        background-color: #fff;
        border-radius: .625rem;
      }
    }
    .post--targets {
      .title {
        color: #666;
        font-weight: 600;
        .icon--sort-down {
          margin-bottom: -8px;
          vertical-align: bottom;
        }
        .option--selected {
          font-weight: normal;
          span {
            font-size: .825rem;
            &:nth-child(1) {
              background-color: #fff;
              border: 1px solid #85CFFF;
              border-radius: .375rem;
              padding: .1rem .25rem;
            }
            &:nth-child(2) {
              color: #999999;
              cursor: pointer;
              font-style: italic;
              text-decoration: underline;
            }
          }
        }
      }
      .options--group {
        .options--item {
          background-color: #fff;
          border-radius: .625rem;
          cursor: pointer;
          padding: .75rem 1rem;
          transition: all .4s ease;
          &:hover {
            box-shadow: 0 0 8px rgba(0, 0, 0, .1);
          }
          .item--content {
            .name {
              font-size: .95rem;
              font-weight: 600;
            }
            .desc {
              color: #999999;
            }
          }
          .item--icon {
            .icon--arrow-right {
              stroke-width: 1;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
  .item--header {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #666666;
    font-weight: 600;
    height: 48px;
  }
  .results {
    color: #ffffff;
  }
  .item--body {
    min-height: 48px;
    &:nth-child(2n) {
      background-color: #fafafa;
    }
    &:nth-child(2n + 1) {
      background-color: #f3f3f3;
    }
  }
  .col--checkbox {
    height: 20px;
    width: 5%;
    svg {
      cursor: pointer;
    }
  }
  .col--name {
    width: 20%;
  }
  .col--category {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .col--content {
    width: 50%;
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.custom--checkbox {
  input[type="checkbox"] {
    border-radius: 6px;
    border: solid 1.5px #cccccc;
    cursor: pointer;
    height: 20px;
    outline: none;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:checked {
      background-color: #ffb94a;
      border: solid 1px #ffb94a;

      &:before {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        content: "";
        display: block;
        height: 10px;
        position: relative;
        left: 50%;
        top: 42%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 7px;
      }
    }
  }
}
// Transition show search
.search-enter-active, .search-leave-active {
  transition: opacity 1s;
}
.search-enter, .search-leave-to {
  opacity: 0;
}

// RESPONSIVE
/*@media only screen and (max-width: 1366px) {
  .content {
    .col--name {
      width: calc(82% - 280px - 3rem);
    }
    .col--category {
      width: 18%;
    }
    .col--content {
      display: none;
    }
    .col--image {
      width: calc(185px + 1rem);
      padding: 0 0.5rem !important;
    }
    .col--action {
      width: calc(75px + 1rem);
      padding: 0 0.5rem !important;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .content {
    .col--name {
      width: calc(100% - 250px - 2rem);
    }
    .col--category {
      width: 155px;
    }
    .col--image {
      display: none;
    }
  }
}
@media only screen and (max-width: 992px) {
  .content {
    .col--name {
      width: calc(100% - 95px - 2rem);
    }
    .col--category {
      display: none !important;
    }
  }
}*/

// CHANGE BACKGROUND COLOR THEME

//LIGHT

.content[data-theme="light"] {
  .item--header {
    background-color: #fff;
  }
  .item--body {
    background-color: #fafafa;
  }
  .image--wrap-more {
    background-color: #e4e4e4;
    color: #999999;
  }
}

//DARK

.content[data-theme="dark"] {
  .item--header {
    background-color: #27292d;
    color: #cccccc;
  }
  .item--body {
    background-color: #27292c;
    color: #999999;
  }
  .image--wrap-more {
    background-color: #2f3136;
    color: #999999;
  }
}
