.mt--5 {
  margin-top: 2rem !important;
}
.location {
  .text--bold {
    color: #ccc;
    font-weight: 600;
  }
  .top {
  }
  .body {
    flex: 1;
    .item {
      width: 100%;
      .content {
        width: 100%;
      }
    }
    .main {
      width: 100%;
      border: 1px solid #444;
      border-radius: .625rem;
    }
  }
  .title {
    span.small {
      font-size: 12px;
    }
  }
}
