.option--time {
  border-radius: 10px;
  max-width: 626px;
  .icon {
    top: 7px;
    right: 10px;
    svg {
      color: #ffffff;
    }
  }
  .option--time-item {
    border: 0;
    border-radius: .625rem;
    box-shadow: none;
    cursor: pointer;
    font-size: .875rem;
    height: 40px;
    outline: 0;
    transition: 0.3s ease-in;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
      transition: 0.3s ease-out;
    }
  }
}
.option--time-days {
  &:hover {
    border-radius: .625rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s ease-out;
  }
}
.option--time-hours {
  cursor: pointer;
}
.option--time-repeat {
  input {
    border: 0;
  }
  .option--repeat {
    background: #ffffff;
    border-radius: .625rem;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 205px;
    z-index: 99;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
    transition: max-height 150ms cubic-bezier(0.22, 0.61, 0.36, 1),
    opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
    &-item {
      padding: 10px 36px 10px 16px;
      &:hover {
        background-color: #f7f7f7;
      }
      &:first-child {
        &:hover {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
      &:last-child {
        &:hover {
          border-bottom-left-radius: .625rem;
          border-bottom-right-radius: .625rem;
        }
      }
      .option--time-hours {
        width: 100px;
      }
    }
  }
}
.option--custom {
  width: 100%;

  &-wrap {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    overflow: hidden;
    .item{
      padding: 0.625rem;
      cursor: pointer;
      transition: all .4s ease;
      &:last-child{
        border: 0;
      }
      &:hover{
        background-color: #FFB94A;
        color: #ffffff;
      }
      &.active {
        background-color: #ffb94a;
        color: #ffffff;
      }
    }

    .option--custom-item {
      cursor: pointer;
      width: 50px;
      padding: 8px;

      &.active {
        background: #ffb94a;
        color: #fff;
        font-weight: 700;
        &:hover {
          color: #fff;
        }
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      &:hover {
        color: #000000;
        font-weight: 700;
      }

      &:first-child {
        &:hover {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }

      &:last-child {
        &:hover {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }

    .timer {
      border-bottom: solid 1px;
    }
  }
}


/************* CUSTOM CSS THEME ****************/

/******** 01. Theme Light *********/

div.timer[data-theme="light"] {
  .option--time {
    color: #444;
    background: #f7f7f7;
    .option--time-hours, .option--time-repeat {
      input {
        background: #ffffff;
      }
    }
  }
  //border-color: #e4e4e4;
}

/******** 02. Theme Dark *********/

div.timer[data-theme="dark"] {
  .option--time {
    background: #2f3136;
    .option--time-item {
      background: #27292d;
      border-color: #27292d;
      color: #ccc;
    }
    .option--time-hours, .option--time-repeat {
      input {
        background: #27292d;
      }
    }
    .option--repeat {
      background: #27292d;
      .option--repeat-item {
        &:hover,
        &:focus,
        &:active,
        &:visited {
          background: #2f3136;
          transition: all 0.5s ease;
        }
      }
    }
  }
  .option--custom-wrap {
    background: #27292d;
    color: #ffffff;
  }
}

div[data-theme="light"] .timer {
  .option--time-days {
    input[name="date-setting"] {
      background: #ffffff;
      border: 1px solid #e4e4e4;
      color: #495057;
      cursor: pointer;
      font-size: 1rem;
      border-radius: 10px;
      height: 40px;
      padding-left: 1rem;
      &:hover,
      &:active,
      &:visited,
      &:focus {
        box-shadow: none;
        outline: 0;
        border-color: #e4e4e4;
      }
    }
  }
  .option--time .icon svg {
    color: #666;
  }
}

div[data-theme="dark"] .timer {
  .option--time-days {
    input[name="date-setting"] {
      background: #27292d;
      border: 1px solid #27292d;
      color: #ccc;
      cursor: pointer;
      font-size: 1rem;
      border-radius: 0.5rem;
      height: 40px;
      padding-left: 1rem;
      &:hover,
      &:active,
      &:visited,
      &:focus {
        box-shadow: none;
        outline: 0;
        border-color: #27292d;
      }
    }
  }
  .mx-input {
    background: #27292d;
    border: 0;
  }
}
