.modal--event {
  width: 1000px !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.875rem;
  .body--autopost {
    height: calc(100vh - 110px - 4rem);
  }
  .modal--event-scroll {
    height: calc(100vh - 110px - 4.5rem);
  }
}

// Theme Color
.modal--wrapper[data-theme="light"] {
  color: #444444;
  .modal--content {
    background-color: #f7f7f7;
  }
}

.modal--wrapper[data-theme="dark"] {
  color: #f7f7f7;
  .modal--content {
    background-color: #2f3136;
  }
}
