.modal--wrapper {  
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  .modal--dialog {
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: 0;
    font-size: 0.8315rem;
    .modal--content {
      width: 90%;
      .modal--body {
        background: #212225;
      }
      .modal--footer {
        .btn--submit {
          // display: block;
          background: #ffb94a;
          color: #fff;
          border-radius: 0.625rem;
          padding: 0.625rem;
          border: 0;
          width: 100%;
        }
      }
    }
  }
}
/* THeme Color */
.modal--wrapper[data-theme="light"] {
  .modal--dialog {
    .modal--content {
      .modal--body {
        .desc {
          .campaign--name {
          }
          .text--delete {
          }
        }
        &-input {
          color: #F96666 !important;
          &:focus {
            border-color: #F96666 !important;
          }
        }
      }
    }
  }
}
.modal--wrapper[data-theme="dark"] {
  .modal--dialog {
    .modal--content {
      color: #ccc;
    }
  }
}