.mt--5 {
  margin-top: 2rem !important;
}
.icon {
  &--activity {
    margin-top: 4px;
  }
}
.section {
  &--header {
    .left {
      .title {
        font-size: .95rem;
        font-weight: 600;
      }
    }
    .right {
      .btn--detail {
        background-color: #2f3136;
        border-radius: .5rem;
        cursor: pointer;
        padding: .375rem .75rem;
        transition: all .4s ease;
        &:hover {
          background-color: #3b3e43;
        }
      }
    }
  }
  &--body {
    margin-left: 44px;
  }
}
.list--group {
  &-item {
    border-bottom: 1px solid #444;
    padding: .5rem 0;
    &:last-child {
      border-bottom: 0;
    }
    .item--time {
      color: #999;
      font-size: .75rem;
    }
  }
}
