.modal--event-header {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  height: auto;
  transition: all 1s ease;
  .header--row {
    color: #fff;
    .header--row-left {
      font-size: 0.875rem;
      width: calc(100% - 124px - 2rem);
      .event--autopost {
        transition: all .4s ease;
      }
      .event--name {
        border: 0;
        border-radius: 0.625rem;
        background-color: #fff;
        color: #444;
        height: 40px;
        line-height: 40px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        width: 100%;
        &:active,
        &:focus {
          outline: 0;
          box-shadow: none;
        }
        &::placeholder {
          color: #ccc;
        }
      }
    }
    .header--row-right {
      .btn--header {
        color: #fff;
        cursor: pointer;
        transition: all .4s ease;
        &:hover{
          .ic--copy {
            stroke: #fff;
            stroke-width: 10;
            stroke-opacity: .8;
          }
          .ic--remove {
            stroke: #fff;
            stroke-width: .3;
            stroke-opacity: .8;
          }
        }
      }
      .btn--save {
        border: 1px solid #fff;
        border-radius: 0.625rem;
        height: 40px;
        line-height: 40px;
        text-align: center;
        transition: all .4s ease;
        width: 76px;
        &:hover {
          box-shadow: 0 0 5px rgba(255, 255, 255, 1);
          font-weight: 600;
        }
      }
      .event--change-color {
        position: relative;
        .label--change {
          cursor: pointer;
          font-size: 0.75rem;
          font-style: italic;
          opacity: .8;
          text-decoration: underline;
          &:hover {
            opacity: 1;
          }
        }
        .dropdown--menu {
          background-color: #fff;
          border-radius: .625rem;
          box-shadow: 0 0 10px rgba(0, 0, 0, .1);
          margin-top: 2px;
          padding: .375rem .5rem;
          position: absolute;
          right: 0;
          z-index: 99;
          width: calc(90px + 1rem);
          .dropdown--menu-item {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 30px;
            width: 30px;
            .color--box {
              border-radius: .3rem;
              cursor: pointer;
              height: 20px;
              opacity: .8;
              transition: all .4s ease;
              width: 20px;
              &:hover {
                height: 22px;
                opacity: 1;
                width: 22px;
              }
            }
          }
        }
      }
    }
  }
}
