.avatar--content {
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    &.avatar--img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &.avatar--default {
        background-color: #fafafa;
        color: #ffb94a;
        font-size: 32px;
        font-weight: 600;
        span {
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
        }
    }
}

.header {
    .header--profile,
    .header--icon {
        cursor: pointer;
    }
    .header--profile-img {
        .avatar--content {
            width: 40px;
            &.avatar--default {
                font-size: 24px;
            }
        }
    }
    .header--profile-name {
        font-size: 14px;
    }
}

.dropdown--menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 0;
    border-radius: .5rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    color: #3e5569;
    display: none;
    font-size: 0.875rem;
    margin: 0.125rem 0 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 99;

    .avatar--content {
        width: 60px;
    }
    .bg-orange{
        background-color: #ffb94a;
    }
    .border--custom {
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }
    &.user--dd {
        min-width: 280px;
    }
    &.show {
        display: block;
    }
    &.dropdown--menu-right {
        right: 0;
        left: auto;
        .with--arrow {
            right: 0;
            >span {
                left: 0;
                right: 20px;
            }
        }
    }
    .with--arrow {
        height: 10px;
        position: absolute;
        top: -10px;
        width: 40px;
        >span {
            border-radius: 6px 0 0;
            content: "";
            height: 15px;
            position: absolute;
            transform: rotate(45deg);
            top: 3px;
            width: 15px;
        }
    }
    .dropdown--item {
        background-color: transparent;
        border: 0;
        color: #212529;
        display: block;
        padding: 0.65rem 1rem;
        text-align: inherit;
        text-decoration: none;
        width: 100%;
        white-space: nowrap;
        &:hover {
            background-color: #f7f7f7;
            color: #16181b;
            text-decoration: none;
        }
        svg {
            margin: 0 10px 0 5px;
            vertical-align: text-top;
        }
        &.friend {
            svg {
                vertical-align: middle;
                margin-top: 3px;
            }
        }
    }
    .dropdown--divider {
        border-top: 1px solid #f8f9fa;
        height: 0;
        margin: 0.5rem 0;
        overflow: hidden;
    }
    &.animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    &.flipInY {
        backface-visibility: visible !important;
        animation-name: flipInY;
    }
    @keyframes flipInY {
        from {
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            animation-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            animation-timing-function: ease-in;
        }
        60% {
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            opacity: 1;
        }
        80% {
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }
        to {
            transform: perspective(400px);
        }
    }
}


/* ChangeColor */

// Light
.header[data-theme="light"] {
    color: #666;
    .header--icon {
        &:hover {
            color: #000;
        }
    }
    .avatar--default {
        border: 2px solid #ffb94a;
    }
}

//Dark
.header[data-theme="dark"] {
    color: #ccc;
    .header--icon {
        &:hover {
            color: #f7f7f7;
        }
    }
}