.category--data {
  font-size: 0.875rem;
  .item--header {
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    height: 48px;
  }
  .item--body {
    min-height: 48px;
   &:last-child {
     border-bottom-left-radius: .625rem;
     border-bottom-right-radius: .625rem;
   }
    .col--category {
      cursor: pointer;
      &:hover {
        color: #FFB94A;
        text-decoration: underline;
      }
    }
  }
  .col--checkbox {
    height: 20px;
    width: calc(20px + 1rem);
  }
  .col--category {
    width: calc(70% - 270px);
  }
  .col--posts {
    width: 120px;
  }
  .col--description {
    width: 30%;
  }
  .col--action {
    width: 150px;
    svg {
      color: #999;
      cursor: pointer;
      transition: all 0.4s ease;
      &:hover {
        color: #ffb94a;
      }
    }
  }
  .data--empty {
    color: #999999 !important;
  }
}
.custom--checkbox {
  input[type="checkbox"] {
    border-radius: 6px;
    border: solid 1.5px #cccccc;
    cursor: pointer;
    height: 20px;
    outline: none;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:checked {
      background-color: #ffb94a;
      border: solid 1px #ffb94a;

      &:before {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        content: "";
        display: block;
        height: 10px;
        position: relative;
        left: 50%;
        top: 42%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 7px;
      }
    }
  }
}

/* Responsive */
@media only screen and (max-width: 1366px) {
  .category--data {
    .col--category {
      width: calc(100% - 270px);
    }
    .col--posts {
      width: 120px;
    }
    .col--description {
      display: none;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .category--data {
    .col--category {
      width: calc(70% - 270px);
    }
    .col--posts {
      width: 120px;
    }
    .col--description {
      display: block;
      width: 30%;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .category--data {
    .col--category {
      width: calc(100% - 170px - 1rem);
    }

    .col--posts {
      width: 95px;
    }
    .col--description {
      display: none;
    }
  }
}


/* Theme Color */
/* Light */
.category--data[data-theme="light"] {
  .item--header {
    background-color: #fff;
    color: #666;
  }
  .item--body {
    background-color: #fafafa;
    color: #444;
    &:hover {
      background-color: #fff;
    }
  }
}

/* Dark */
.category--data[data-theme="dark"] {
  .item--header {
    background-color: #27292d;
    color: #ccc;
  }
  .item--body {
    background-color: rgba(39, 41, 45, 0.4);
    color: #f7f7f7;
    &:hover {
      background-color: #27292d;
    }
  }
}
