.account--grid {
  .checkbox {
    border: solid 1px #e4e4e4;
    border-radius: .3rem;
    cursor: pointer;
    height: 20px;
    outline: none;
    transition: all 0.4s ease;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover {
      border: 0;
      background-color: #ffb94a
    }
    &:checked {
      border: 0;
      border-right: solid 1px #ffb94a;
      border-bottom: solid 1px #ffb94a;
      background-color: #ffb94a;
      &:before {
        border-right: solid 2px #fff;
        border-bottom: solid 2px #fff;
        bottom: 0;
        content: "";
        display: block;
        height: 14px;
        left: 6px;
        position: relative;
        transform: rotate(35deg);
        width: 8px;
      }
    }
  }
  .grid--header-remove {
    color: #ef5350;
    cursor: pointer;
    svg {
      stroke: #ef5350;
      stroke-width: .25;
      vertical-align: text-top;
    }
  }
  .grid--header-select {
    color: #444444;
    font-size: 14px;
  }
}

.grid--content {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1.5rem;
  .data--empty {
    font-size: 14px;
    color: #666;
  }
  .c_md_3 {
    padding: 0 .75rem;
  }
}
.user {
  border: 1px solid #f2f2f2;
  height: 100%;
  border-radius: .5rem;
  padding-bottom: 1rem;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  }
  &--action {
    justify-content: right;
  }
  .checkbox {
    border: 0;
    border-right: solid 1px #e4e4e4;
    border-bottom: solid 1px #e4e4e4;
    border-radius: .5rem 0 .3rem 0;
    cursor: pointer;
    height: 20px;
    outline: none;
    transition: all 0.4s ease;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover {
      border: 0;
      border-right: solid 1px #e4e4e4;
      border-bottom: solid 1px #e4e4e4;
      background-color: #e4e4e4
    }
    &:checked {
      border: 0;
      border-right: solid 1px #ffb94a;
      border-bottom: solid 1px #ffb94a;
      background-color: #ffb94a;
      &:before {
        border-right: solid 2px #fff;
        border-bottom: solid 2px #fff;
        bottom: 0;
        content: "";
        display: block;
        height: 14px;
        left: 6px;
        position: relative;
        transform: rotate(35deg);
        width: 8px;
      }
    }
  }
  .user--edit {
    margin-top: .75rem;
    padding: 0 3.5rem;
    .btn--edit {
      font-size: 14px;
      padding: .5rem .75rem;
      border-radius: 10px;
      font-weight: 600;
      color: #ffb94a;
      border: solid 1px #ffb94a;
      cursor: pointer;
      &:hover {
        background-color: #ffb94a;
        color: #fff;
        svg {
          stroke: #fff;
          stroke-width: .75;
        }
      }
      svg {
        stroke: #ffb94a;
        stroke-width: .75;
      }
    }
  }
  .data--wrap {
    text-align: center;
    padding: 0 1rem;
  }

  .avatar--content {
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    width: 70px;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    &.avatar--img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.avatar--default {
      background-color: #f7f7f7;
      color: #ffb94a;
      font-size: 32px;
      font-weight: 700;
      span {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
      }
    }
  }
  .user--name {
    color: #444444;
    font-size: 16px;
    font-weight: bold;
  }
  .user--status {
    color: #aaaaaa;
    &.user--active {
      color: #00c853;
    }
  }
  .user--mail,
  .user--phone {
    color: #444444;
    font-size: 14px;
  }
  .user--data {
    .user--data-desc {
      color: #999;
      font-size: 14px;
      font-weight: 600;
    }
    .user--data-number {
      color: #444;
      font-size: 13px;
    }
  }
}
.backdrop {
  background-color: rgba(153, 153, 153, 0.5);
  height: 100vh;
  left: 0;
  max-height: 100vh;
  top: 0;
  width: 100%;
  z-index: 1040;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
