.modal--wrapper {
  .modal--dialog {
    .modal--content {
      .modal--body {
        .suggestion--list {
          border-radius: 10px;
          border-top: 0;
          width: 100%;
          &-item {
            cursor: pointer;
            padding: .5rem .75rem;
            &::first-letter {
              text-transform: capitalize;
            }
            &:first-child {
              border-radius: 10px 10px 0 0;
            }
            &:last-child {
              border-radius: 0 0 10px 10px;
            }
          }
          .scroll {
            max-height: 120px;
          }
        }
      }
    }
  }
}
  
/* ChangeColor */

// Light
.modal--wrapper[data-theme="light"] {
  .modal--content {
    .modal--body {
      .suggestion--list {
        background-color: #fff;
        border: 1px solid #e4e4e4;
        border-top: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        &-item {
          color: #444444;
          &:hover {
            background-color: #f7f7f7;
          }
        }
      }
    }
  }
}

//Dark
.modal--wrapper[data-theme="dark"] {
  .modal--content {
    .modal--body {
      .suggestion--list {
        background-color: #27292d;
        border: 1px solid #444;
        border-top: 0;
        box-shadow: 0 0 10px rgba(255, 255, 255, .1);
        &-item {
          color: #f7f7f7;
          &:hover {
            background-color: #2f3136;
          }
        }
      }
    }
  }
}