.detail {
  color: $mainDarkLight;
  .top {
    font-size: .825rem;
    .top--left{
      color: #666;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
    .top--right {
      color: #666;
    }
  }
  .action {
    .left {
      .icon {
        top: 10px;
        left: 10px;
        .icon--search {
          color: #999;
          stroke: #999;
          stroke-width: .1;
        }
      }
      input {
        background: #27292d;
        color: #ccc;
        border: none;
        border-radius: .625rem;
        height: 36px;
        padding: 0 .75rem 0 2.15rem;
        &:hover, &:focus, &:active, &:visited {
          box-shadow: none;
          outline: 0;
        }
        &::placeholder {
          color: #ccc;
        }
      }
    }
    .right {
      font-size: .85rem;
    }
  }
  .body {
    font-size: .85rem;
    .result {
      background-color: #282a2d;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
      color: #999;
      font-weight: 600;
      height: 38px;
    }
    .result--item {
      background-color: #2f3136;
      color: #ccc;
      font-size: calc(1rem - 3px);
      border-bottom: 1px solid #454545;
      &.empty {
        color: #999;
        font-size: .825rem;
      }
      &:last-child {
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }
      .content {
        width: 86%;
      }
      .action {
        width: 14%;
      }
    }
    .name {
      &--text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .action {
      .btn--choose {
        border: 2px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 20px;
        padding: .35rem .5rem;
        width: 20px;
        &.checked {
          background-color: #ffb94a;
          border: solid 1px #ffb94a;
          &:before {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            content: "";
            display: block;
            height: 10px;
            position: relative;
            left: 50%;
            top: 42%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 7px;
          }
        }
      }
    }
    .scroll-categories{
      max-height: calc(100vh - 226px);
    }
  }
  .footer--back{
    // background: #27292d;
    background: #303236;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    // width: 100%;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    .top--left {
      color: #fff;
      background: #ffb94a;
      height: 35px;
      line-height: 35px;
      padding: 0 0.625rem;
      border-radius: 5px;
      // margin-top: 0.625rem;
      cursor: pointer;
      &:hover {
        background: #ff9e4a;
      }
    }
  }
}


// ================== THEME

// dark 
.detail[data-theme="dark"] {

}


//  ************ RESPONSIVE

// @media only screen and (min-width: 990px) and (max-width: 1200px) {
//   .detail{
//     .footer--back{
//       left: 15%;
//       width: 70%;
//     }
//   }
// }
// @media only screen and (min-width: 768px) and (max-width: 989px) {
//   .detail{
//     .footer--back{
//       left: 10%;
//       width: 80%;
//     }
//   }
// }
