.detail {
  color: $mainDarkLight;
  min-height: 320px;
  .top {
    font-size: .825rem;
    .top--right {
      color: #666;
    }
  }
  .action {
    .left {
      .icon {
        top: 10px;
        left: 10px;
        .icon--search {
          color: #999;
          stroke: #999;
          stroke-width: .1;
        }
      }
      input {
        border: none;
        border-radius: .625rem;
        height: 36px;
        padding: 0 .75rem 0 2.15rem;
        &:hover, &:focus, &:active, &:visited {
          box-shadow: none;
          outline: 0;
        }
        &::placeholder {
          color: #ccc;
        }
      }
    }
    .right {
      font-size: .85rem;
    }
  }
  .body {
    font-size: .85rem;
    margin-bottom: 2.25rem;
    .result {
      background-color: #ffffff;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
      color: #999;
      font-weight: 600;
      height: 38px;
    }
    .result--item {
      background-color: #fafafa;
      &.empty {
        color: #999;
        font-size: .825rem;
      }
      &:hover {
        background-color: #fff;
      }
      &:last-child {
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }
    }
    .name {
      width: 25%;
      &--text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .categories {
      width: 25%;
    }
    .content {
      width: 35%;
      &--text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .action {
      width: 15%;
      .btn--choose {
        border: 2px solid #ccc;
        border-radius: 6px;
        cursor: pointer;
        height: 20px;
        padding: .35rem .5rem;
        width: 20px;
        &.checked {
          background-color: #ffb94a;
          border: solid 1px #ffb94a;
          &:before {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            content: "";
            display: block;
            height: 10px;
            position: relative;
            left: 50%;
            top: 42%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 7px;
          }
        }
      }
    }
  }
  .footer--back{
    background: #fafafa;
    position: fixed;
    bottom: 2.75rem;
    left: 20%;
    width: 60%;
    height: 60px;
    margin: auto;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    .top--left {
      color: #fff;
      background: #ffb94a;
      height: 35px;
      line-height: 35px;
      padding: 0 0.625rem;
      border-radius: 5px;
      margin-top: 0.625rem;
      cursor: pointer;
      &:hover {
        background: #ff9e4a;
      }
    }
  }
}

//  ************ RESPONSIVE

@media only screen and (min-width: 990px) and (max-width: 1200px) {
  .detail{
    .footer--back{
      left: 15%;
      width: 70%;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  .detail{
    .footer--back{
      left: 10%;
      width: 80%;
    }
  }
}