
.content--header-help{
  background-color: $mainBrandColor;
  padding-top: 20px;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}


// header logo help
.logo{
  cursor: pointer;
  .icon{
    color: $color-dark;
    margin: 0;
  }
  .center--support{
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
    color: $color-dark;
  }
}


// header--search

.wrap--search{
  svg{
    color: rgba(255, 255, 255, .5);
  }
  input{
    width: 100%;
    border: 0;
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    color: $color-dark-2;
    outline: none;
    font-size: 14px;
    background-color: $secondaryFocus;

    &::placeholder{
      color: $color-dark-1;
      font-size: 13px;
    }
  }
  .search svg{
    position: absolute;
    top: 15px;
    left: 25px;
    z-index: 100;
    color: $blackLight;
  }
}

// content--back

.content--back{
  color: #706966;
  cursor: pointer;
  display: flex;
  margin-top: 9px;
  svg{
    transform: rotate(-180deg);
    margin-top: -7px;
    margin-right: 5px;
  }
  &:hover{
    color: #fff;
  }
  p{
    display: inline-flex;
    &:nth-child(1){
      margin-top: 3px;
    }
  }
}

a{
  text-decoration: none;
  color: inherit;
}
// menu
.menu--help{
  .home{
    border-bottom: 2px solid #c27906;
  }
  & > li{
    position: relative;
    color: $color-dark-2;
    height: 45px;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    &:hover ul{
      display: block;
    }
  }
  li{
    &:hover{
      background: #27292c21;
    }
    ul{
      box-shadow: 0 1px 1px #ccc;
      position: absolute;
      top: 100%;
      left: 0;
      background: $mainDefault;
      color: $color-dark-2;
      width: 320px;
      z-index: 100;
      display: none;
      li{
        padding: 10px;
      }
    }
  }
}

.mail--help{
  .icon--envelop-help{
    margin-top: 4px;
  }
}
