.main {
  height: 100%;
}

.pricing {
  &--plan {
    height: 72vh;
    display: flex;
    flex-direction: column;
  }
}
.plan {
  &--expire {
    position: fixed;
    top: 55px;
    left: 20px;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  &--table {
    flex-grow: 1;
    margin-top: 4vh;
  }
}

.table {
  height: 100%;
  &--card {
    width: 300vw;
    height: 100%;
    display: flex;
    margin: 0.5rem 0;
    overflow:scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  &--indicator {
    position: fixed;
    bottom: 13vh;
    left: 42%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card {
  width: 100vw;
  background-color: #27292d;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
  border: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  > * {
    text-align: center;
    padding: 0.35rem 0;
    font-size: 2.2vh;
  }
  &--type {
    font-size: 2.5vh;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffb94a;
    padding-bottom: 0;
  }
  &--price {
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-weight: bold;
    color: #ffb94a;
    &::after {
      content: 'đ';
      font-size: 1.3rem;
    }
  }
  &--auto-unfriend {
    margin-bottom: auto;
  }
  &--btn-buy {
    background-color: #27292d;
    color: #ffb94a;
    border-radius: 50px;
    border: 2px solid #ffb94a;
    outline: none;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }
}

.dot {
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0.5rem 0.3rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transform: scale(0.9);
  transition: all 0.6s ease;
  &-active{
    transform: scale(1);
    background-color: #fff;
  }
}



/*Transition popup*/
.popup-enter-active,
.popup-leave-active {
  transition: opacity 1s;
}
.popup-enter,
.popup-leave-to {
  opacity: 0;
}

/* ChangeColor */

// Light
.modal--wrapper[data-theme='light'] {
  color: #444444;
  .modal--content {
    background-color: #fff;
    .modal--body {
      &-input {
        border: 1px solid #e4e4e4;
        color: #444;
        &::placeholder {
          color: #cccccc;
        }
      }
    }
    .modal--footer {
      .btn--skip {
        &:hover {
          background-color: #f7f7f7;
        }
      }
    }
  }
}

//Dark
.modal--wrapper[data-theme='dark'] {
  color: #f7f7f7;
  .modal--content {
    background-color: #27292d;
    .modal--body {
      &-input {
        background-color: #27292d;
        border: 1px solid #444;
        color: #f7f7f7;
        &::placeholder {
          color: #666;
        }
        &:active,
        &:focus {
          border-color: #ffb94a;
        }
      }
    }
    .modal--footer {
      .btn--skip {
        &:hover {
          background-color: #2f3136;
        }
      }
    }
  }
}
