.info {
    font-size: 0.875rem;
    .info--left {
        align-items: center;
    }
    .info--right {
        .action {
            border: 1px solid;
            border-radius: 10px;
            cursor: pointer;
            height: 40px;
            line-height: 40px;
            padding-left: .75rem;
            padding-right: .75rem;
            text-align: center;
            width: auto;
            &:hover {
                border: 1px solid #ffb94a !important;
                color: #ffb94a !important;
                .action--tooltip {
                    opacity: 1;
                }
            }
        }
        button {
            border: 1px solid;
            border-radius: 10px;
            cursor: not-allowed;
            padding: 0.375rem 0.75rem;
            background: #cccccc !important;
            color: #ffffff !important;
        }
        .disabled {
            cursor: not-allowed !important;
        }
        .dropdown--menu {
            position: relative;
            svg {
                stroke-width: 5;
                vertical-align: middle;
            }
            .dropdown {
                border: 1px solid;
                border-radius: 10px;
                padding: 0.375rem 0;
                position: absolute;
                right: 0;
                min-width: 13rem;
                width: auto;
                z-index: 999;
                &--item {
                    &:hover {
                        background-color: #ffb94a;
                        color: #fff;
                    }
                }
            }
        }
      .wrap {
        .update {
          background-color: #23272b;
          border: 1px solid;
          border-radius: 10px;
          cursor: pointer;
          right: 0;
          top: 103%;
          min-width: 13rem;
          width: auto;
          z-index: 999;
          &:hover, &:focus, &:visited, &:active {
            border-color: #ffb94a;
            transition: all .5s ease;
          }
          &--item{
            &:hover {
              background-color: #ffb94a;
              color: #fff;
              transition: all .5s ease;
            }
            &:first-child {
              &:hover {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
              }
            }
            &:last-child {
              &:hover {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
              }
            }
          }
        }
      }
    }
}


/* ChangeColor */

// Light
.info[data-theme="light"] {
    color: #444;
    .info--right {
        .action {
            color: #444;
            border-color: #e4e4e4;
        }
        .disabled {
            color: #ccc !important;
            border-color: #e4e4e4 !important;
        }
        .dropdown--menu {
            .dropdown {
                background-color: #fff;
                color: #444;
                border: 0;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

//Dark
.info[data-theme="dark"] {
    color: #f7f7f7;
    .info--right {
        .action {
            color: #f7f7f7;
            border-color: #666;
        }
        .disabled {
            color: #666 !important;
            border-color: #666 !important;
        }
        .dropdown--menu {
            .dropdown {
                background-color: #27292d;
                color: #f7f7f7;
                border: 0;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            }
        }
    }
}


// ============= RESPONSIVE 

@media screen and (max-width: 410px) {
    .info {
        flex-direction: column;
        .info--left {
            margin-bottom: 1rem;
        }
    }
}
