.popup {
  background-color: #27292c;
  border-radius: .5rem;
  box-shadow: 0 2px 10px rgba(255, 255, 255, .25);
  display: block;
  font-size: .875rem;
  margin-top: 38px;
  position: absolute;
  right: 0;
  top: -2px;
  width: 332px;
  z-index: 70;
  &--header {
    border-bottom: 1px solid #444;
    color: #ccc;
    font-weight: 600;
    padding-bottom: .75rem;
    .btn--close {
      cursor: pointer;
      right: 0;
      top: .75rem;
      &:hover, &:focus {
        .icon--close {
          color: #ccc;
        }
      }
      .icon--close {
        color: #666;
        transition: all .4s ease;
      }
    }
  }
  &--body {
    padding: .75rem 0;
    font-size: .875rem;
  }
  &--footer {
    padding: 0 0 1rem 0;
    .btn_success {
      background-color: #F7635B;
      border: 0;
      border-radius: .5rem;
      box-shadow: none;
      font-size: .875rem;
      outline: 0;
      transition: all .4s ease;
      width: 100%;
      &:hover, &:focus {
        background-color: #d55c54;
      }
    }
  }
}

/*Transition popup*/
.popup-enter-active, .popup-leave-active {
  transition: opacity .4s;
}
.popup-enter, .popup-leave-to {
  opacity: 0;
}
