.activity {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #27292d;
  z-index: 10;
  .items--header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3rem;
    .arrow-down {
      transform: rotate(90deg);
      margin-left: 0.5rem;
    }
    .title {
      font-size: 1rem;
      margin: auto;
      text-align: center;
    }
  }
  .items--body {
    background: #2f3136;
    border-bottom: 1px solid #4345485e;
  }  
  .activity--default {
    font-size: .825rem;
    input {
      border: none;
      font-size: .825rem;
      height: 40px;
      padding: 0 .75rem;
      width: 100%;
      &:hover, &:active, &:visited, &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
  }
  .activity--suggets {
    font-size: .825rem;
    .activity--desc {
      cursor: pointer;
      height: 40px;
      font-weight: 600;
      line-height: 40px;
      padding: 0 .75rem;
    }
    .activity--option {
      flex: 1;
      input {
        border: none;
        height: 40px;
        padding: 0 .75rem;
        width: 100%;
        &:hover, &:active, &:visited, &:focus {
          box-shadow: none;
          outline: 0;
        }
      }
    }
  }
  .suggest {
    border-top: 0;
    border-radius: 0 0 .5rem .5rem;
    top: 100%;
    right: -1px;
    padding: .5rem 0;
    width: calc( 100% + 2px );
    z-index: 99;
    .show {
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
    }
    .item--tag {
      cursor: pointer;
      font-weight: 600;
      padding: .375rem .75rem;
      width: 100%;
      &:hover, &:active, &:focus, &:visited {
        background-color: $orange;
        color: $mainDefault;
        transition: all .5s ease;
      }
      .avatar {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
      }
      .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .name {
        font-weight: 600;
      }
    }
    .loading-block {
      color: #999;
    }
  }
}

/* Theme Color */
.activity[data-theme="light"] {
  .activity--default {
    input {
      border-bottom: 1px solid #e4e4e4;
      &::placeholder {
        color: #ccc;
      }
    }
  }
  .activity--suggets {
    .activity--desc {
      background-color: #efefef;
      border-bottom: 1px solid #e4e4e4;
    }
    .activity--option {
      input {
        border-bottom: 1px solid #e4e4e4;
        border-top: 1px dotted #e4e4e4;
        &::placeholder {
          color: #ccc;
        }
      }
    }
  }
  .suggest {
    background-color: $mainDefault;
    border: 1px solid $border-color;
    border-top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    .item--tag {
      .desc {
      }
      .name {
      }
    }
  }
}
.activity[data-theme="dark"] {
  .activity--default {
    input {
      background-color: #27292c;
      border-bottom: 1px solid #444;
      color: #f7f7f7;
      &::placeholder {
        color: #666;
      }
    }
  }
  .activity--suggets {
    .activity--desc {
      background-color: #2f3136;
      border-bottom: 1px solid #444;
      color: #f7f7f7;
    }
    .activity--option {
      input {
        background-color: #27292c;
        border-bottom: 1px solid #444;
        border-top: 1px dotted #444;
        color: #f7f7f7;
        &::placeholder {
          color: #666;
        }
      }
    }
  }
  .suggest {
    background-color: #27292c;
    border: 1px solid #444;
    border-top: 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    color: #f7f7f7;
  }
}
