.modal--wrapper {
    .modal--dialog {
      .modal--content {
        .modal--body {
          .scroll {
            max-height: 200px;
          }
          .group--list {
            &-item {
              padding: .375rem 0;
              .checkbox {
                text-align: center;
                &--control {
                  display: inline-block;
                  position: relative;
                  width: 20px;
                  height: 20px;
                  vertical-align: middle;
                  &-input {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    z-index: 10;
                    opacity: 0;
                    &:checked {
                      &~.checkbox--control-checkmark {
                        border-color: #ffb94a;
                        background-color: #ffb94a;
                        opacity: 1;
                        &::after {
                          display: block;
                        }
                      }
                    }
                  }
                  &-checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    z-index: 1;
                    border: 1.5px solid;
                    border-radius: .375rem;
                    opacity: 0.6;
                    &::after {
                      content: "";
                      position: absolute;
                      display: none;
                      left: 5px;
                      top: 2px;
                      width: 5px;
                      height: 10px;
                      border: solid #fff;
                      border-width: 0 3px 3px 0;
                      -webkit-transform: rotate(45deg);
                      -ms-transform: rotate(45deg);
                      transform: rotate(45deg);
                    }
                  }
                }
              }
              .text {
                &::first-letter {
                  text-transform: capitalize;
                }
              }
            }
          }
          .group--create {
            padding-left: .5rem;
            padding-right: .5rem;
            .btn--create {
              cursor: pointer;
              &:hover {
                font-weight: 600;
              }
            }
            &-input {
              justify-content: space-between;
              input {
                width: 100%;
                border: 0;
                border-radius: 10px;
                padding: .5rem 0;
                &:active,
                &:hover,
                &:focus {
                  outline: 0
                }
              }
              .btn--confirm {
                cursor: pointer;
                padding: .25rem .5rem;
                border-radius: .3rem;
                &:hover {
                  cursor: pointer;
                }
              }
              .btn--cancel {
                padding: .25rem .5rem;
                border-radius: .3rem;
                svg {
                  stroke-width: 2; 
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
        .modal--footer {
          .disabled {
            padding: 0.5rem 0.75rem;
            border-radius: 10px;
            background-color: transparent;
            border: 0;
            color: #999;
            font-weight: 600;
            cursor: not-allowed;
            outline: none;
          }
        }
      }
    }
  }
    
  /* ChangeColor */
  
  // Light
  .modal--wrapper[data-theme="light"] {
    .modal--content {
      .modal--body {
        .group--list {
          &-item {
            .checkbox--control-checkmark {
              border-color: #999;
            }
          }
        }
        .group--create {
          .btn--create {
            border-bottom: 1px solid #e4ede4;
          }
          &-input {
            border-bottom: 1px solid #e4ede4;
            input {
              &::placeholder {
                color: #ccc;
              }
            }
            .btn--confirm {
              svg {
                color: #ccc;
              }
              &:hover {
                background-color: #f7f7f7;
              }
            }
            .btn--cancel {
              svg {
                color: #ccc;
                stroke: #ccc;
              }
              &:hover {
                background-color: #f7f7f7;
              }
            }
          }
        }
      }
    }
  }
  
  //Dark
  .modal--wrapper[data-theme="dark"] {
    .modal--content {
      .modal--body {
        .group--list {
          &-item {
            .checkbox--control-checkmark {
              border-color: #ccc;
            }
          }
        }
        .group--create {
          border-top: 1px solid #444;
          &-input{
            input {
              background-color: transparent;
              color: #f7f7f7;
              &::placeholder {
                color: #666;
              }
            }
            .btn--confirm {
              svg {
                color: #666;
              }
              &:hover {
                background-color: #2f3136;
              }
            }
            .btn--cancel {
              svg {
                color: #666;
                stroke: #666;
              }
              &:hover {
                background-color: #2f3136;
              }
            }
          }
        }
      }
    }
  }