.list--header {
  color: #444444;
  margin-bottom: 1.25rem;
  &-title {
    font-size: 1rem;
    font-weight: 600;
  }
  &-description {
    color: #999999;
    font-size: .875rem;
  }
}
.list--input {
  border-radius: 10px;
  font-size: 0.875rem;
  height: 40px;
  background: #27292d;
  > input[type="text"] {
    background-color: transparent;
    border: 0;
    color: #fff;
    height: 100%;
    outline: none;
    width: calc(100% - 48px);
    padding-right: 15px;
    &::placeholder {
      color: #666;
    }
  }
  svg {
    color: #999;
  }
}
.list--keywork {
  &-item {
    color: $color-dark-2;
    font-size: calc(1rem - 3px);
    font-weight: 500;
    text-decoration: underline;
    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: #ffb94a;
    }
  }
}
.list--data {
  .empty--data {
    color: #999;
  }
}
  
// CHANGE COLOR THEME
.list[data-theme="light"] {
  .list--header {
    color: #444444;
  }
  .list--input {
    background-color: #ffffff;
    input[type="text"] {
      background: #ffffff;
      color: #000;
    }
  }
}
.list--filter[data-theme="dark"] {
  .list--header {
    color: #ccc;
  }
  .list--input {
    background-color: #27292d;
    input[type="text"] {
      background: #27292d;
      color: #ccc;
    }
  }
}
  
.list--data {
  font-size: 0.875rem;
  .item--header {
    background-color: #27292d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ccc;
    height: 38px;
    font-size: 0.875rem;
  }
  .item--body {
    background-color: #27292d;
    border-radius: 0.625rem;
    font-size: 0.875rem;
    overflow: hidden;
    .right {
      max-width: 90%;
      overflow: hidden;
    }
    .title { 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .col--content {
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .col--image {
    width: 225px;
  }
  .col--like,
  .col--share {
    width: 90px;
  }
  .col--action {
    width: 110px;
    svg {
      color: #999;
      cursor: pointer;
      transition: all 0.4s ease;
      &:hover {
        color: #ffb94a;
      }
    }
  }
  .image--wrap {
    border-radius: 5px;
    height: 40px;
    overflow: hidden;
    width: 40px;
    img {
      height: 40px;
      width: 40px;
    }
    &-more {
      background-color: #e4e4e4;
      color: #999999;
      height: 40px;
      width: 40px;
    }
  }
}
.infinite {
  max-height: calc(100vh - 231px);
}
.infinite--control-block {
  width: 100%;
  #scrollTrigger {
    height: 30px;
  }
  .circle--loading {
    animation: animate 1.5s infinite linear;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-top: 3px solid #fff;
    height: 30px;
    margin-left: 50%;
    transform: translate( -50%, -50%);
    width: 30px;
  }

  @keyframes animate {
    0% {
      transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
}

.backdrop {
  background-color: rgba(153, 153, 153, 0.5);
  height: 100vh;
  left: 0;
  max-height: 100vh;
  top: 0;
  width: 100%;
  z-index: 1040;
}

.popup--mobile-enter {
  transform: translateX(100%);
}

.popup--mobile-enter-to {
  transition: transform 0.75s;
  transform: translateX(0);
}

.popup--mobile-leave-to {
  transition: transform 0.75s;
  transform: translateX(100%);
}

/* Theme Color */
/* Light */
.list[data-theme="light"] {
  .item--header {
    background-color: #ffffff;
  }
  .item--body {
    background-color: #fafafa;
  }
}
/* Dark */
.list[data-theme="dark"] {
  .item--header {
    color: #ccc;
    background-color: #27292d;
  }
  .item--body {
    background-color: rgba(39, 41, 45, 0.4);
  }
}
  