.timer--wrapper {
  font-size: .875rem;
  .title {
    font-weight: 600;
  }
  .input--group {
    .input--time {
      .time--picker-custom {
        border: 1px solid;
        border-radius: .625rem;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}

/* Theme Color */
/* Light */
.timer--wrapper[data-theme="light"] {
  color: #444;
  .title {
    color: #666;
  }
  .input--group {
    .input--time {
      .time--picker-custom {
        border-color: #e4e4e4;
      }
    }
  }
}
/* Dark */
.timer--wrapper[data-theme="dark"] {
  .input--group {

  }
}

