.timer--wrapper {
  font-size: .875rem;
  .title {
    font-weight: 600;
  }
  .input--group {
    .input--time {
      .time--picker-custom {
        border: 1px solid;
        border-radius: .625rem;
        height: 40px;
        line-height: 40px;
      }
      .time-picker input.display-time{
        height: 36px;
        width: 98px;
      }
    }
    .infor{
      .name--info{
        // flex: 9.5;
      }
      .icon--info{
        // flex: 1;
        align-items: center;
        cursor: pointer;
        justify-content: flex-end;
      }
    }
  }
}

/* Theme Color */
/* Light */
.timer--wrapper[data-theme="light"] {
  color: #444;
  .title {
    color: #666;
  }
  .input--group {
    .input--time {
      .time--picker-custom {
        border-color: #e4e4e4;
      }
    }
  }
}
/* Dark */
.timer--wrapper[data-theme="dark"] {
  .input--group {

  }
}

