.popup--wrapper {
  background-color: transparent;
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 998;
  .popup--change {
    background: transparent;
    bottom: 3%;
    font-size: .875rem;
    transition: all 0.3s;
    z-index: 999;
    width: 100%;
    .popup--change-desc {
      font-weight: 600;
    }
    .popup--change-wrapper {
      background-color: #27292d;
      border: 1px solid #444;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1); 
      border-radius: .625rem;
      margin-left: 300px;
      width: calc(100% - 360px);
      .btn--change {
        border-radius: .625rem;
        border: 1px solid #ffb94a;
        cursor: pointer;
        font-weight: 600;
        height: 40px;
        transition: all 0.4s ease;
        outline: none;
        width: 120px;
      }
      .btn-reset {
        background-color: transparent;
        color: #ffb94a;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            background-color: #ffb94a;
            color: #ffffff !important;
            transition: all 0.5s ease;
        }
      }
      .btn-save {
        border: 0;
        background-color: #ffb94a;
        color: #ffffff;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            background-color: #FF9E4A;
            color: #ffffff !important;
            transition: all 0.5s ease;
        }
      }
    }
  }  
}

//Transition 
.info--change-enter-active, .info--change-leave-active {
  transition: opacity 1s;
}
.info--change-enter, .info--change-leave-to {
  opacity: 0;
}

//Theme
.popup--change[data-theme="light"] {
  .popup--change-wrapper {
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    .btn-reset {
      color: #ffb94a;
    }
    .popup--change-desc {
      color: #444;
    }
  }
}

.popup--change[data-theme="dark"] {
  .popup--change-wrapper {
    background: #27292d;
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    .btn-reset {
      color: #ffffff;
    }
    .popup--change-desc {
      color: #f7f7f7;
    }
  }
}