.search {
  .form--search {
    width: 50%;
  }
  .icon--search {
    top: 0.4rem;
    right: 0rem;
  }
  .search--input {
    width : 100%;
  }
}

.popular {
  .card {
    img {
      width: 100%;
    }
    .icon {
      bottom :1rem;
      right: 1rem;
    }
  }
}

.desc {
  h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
  }
  .avatar {
    width: 30px;
    height: 30px;
    img {
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
    }
  }
}
