.total{
  padding-top: 4.125rem;
  .pd15 > .c_6:nth-of-type(2n+2){
      padding-left: 0.46875rem;
    }
    .pd15 > .c_6:nth-of-type(2n+1) {
      padding-right: 0.46875rem;
    }

  .content{
    .wrap{
      background: #fff;
      padding: 25px 0;
      margin-bottom: 15px;
    }
    .icon{
      span{
        background: $mainBrandColor;
        border-radius: 50%;
        display: inline-block;
        height: 33px;
        width: 33px;
        line-height: 37px;
        vertical-align: middle;
      }
    }
    .number{
      font-size: 30px;
      color: $color-light;
      margin-bottom: 5px;
    }
    .name{
      font-size: 13px;
      color: $color-dark-3;
      margin-bottom: 0px;
    }
    .percent{
      p{
        margin-right: 5px;
        margin-bottom: 0;
        font-size: 13px;
        color: #00c853;
      }
    }
  }

  .line--chart{
    background: $mainDefault;
    color: $color-light;
  }
}
.title--overview{
  font-size: 1.0625rem;
  margin-bottom: 0.625rem;
  color: $color-light;
}
.order--server-history{
  padding: 0.9375rem 0;
  $table-header: #ffb94a;
  $table-header-border: #fff6f4;
  $table-border: #d9d9d9;
  $row-bg: #f4f2f1;

  .table-container {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 100%;
  }

  .flex-table {
    display: flex;
    flex-flow: row wrap;
    border-left: solid 1px $table-border;
    transition: 0.5s;
    &:first-of-type {
      border-top: solid 1px $table-header-border;
      border-left: solid 1px $table-header-border;
    }
    &:first-of-type .flex-row {
      background: $table-header;
      color: white;
      border-color: $table-header-border;
    }
    &.row:nth-child(odd) .flex-row {
      background: $row-bg;
    }
    &:hover {
      background: #F5F5F5;
      transition: 500ms;
    }
    .flex-row {
      overflow: hidden;
      width: calc(100% / 3);
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0.5em 0.5em;
      border-right: solid 1px $table-border;
      border-bottom: solid 1px $table-border;
    }
    .img--select{
      height: 40px;
      width: 40px;
      border-radius: 5px;
      margin-right: 0.5rem;
      overflow: hidden;
      .bgImg{
        width: 100%;
        height: 100%;
      }
    }
  }

  .view--all-post{
    display: inline-flex;
    padding-top: 8px;
    color: $color-light;
    font-size: 0.875rem;
    border: 0;
    background: 0;
    outline: none;
    cursor: pointer;
    span:first-child{
      margin-top: 8px;
    }
  }
  .order, .view--post-day {
    background: #fff;
    padding: 1.25rem 0.9375rem;
    border-radius: 5px;
    color:  $color-light;
  }

}

.wrapper[data-theme="dark"]{
  .total{
    .content{
      .wrap{
        background: #ccc;
        .icon span{
          background: #fff;
        }
      }
      .number, .name{
        color: #666;
      }
      .percent p{
        color: #4CAF50;
      }
    }
    .line--chart{
      background: #ccc;
    }
  }
  .order--server-history{
    .order, .view--post-day{
      background: #ccc;
    }
    .flex-table {
      &:first-of-type .flex-row{
        background: #94928d;
      }
    }
  }
}
