.modal--wrapper {
  .scroll {
    max-height: 200px;
  }
  .group--list {
    &-item {
      padding: .375rem 0;
    }
    .text {
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  .custom--checkbox {
    margin-bottom: -0.375rem;
    input[type="checkbox"] {
      border-radius: 6px;
      border: solid 1.5px #cccccc;
      cursor: pointer;
      height: 20px;
      outline: none;
      width: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      &:checked {
        background-color: #ffb94a;
        border: solid 1px #ffb94a;

        &:before {
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
          content: "";
          display: block;
          height: 10px;
          position: relative;
          left: 50%;
          top: 42%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 7px;
        }
      }
    }
  }
}


/* ChangeColor */

// Light
.modal--wrapper[data-theme="light"] {
  .group--list {
  }
}

//Dark
.modal--wrapper[data-theme="dark"] {
  .group--list {
  }
}
