.custom {
  background-color: #F7F7F7;
  color: $mainDarkLight;
  .top {
    font-size: .825rem;
    .top--left {
      color: #666;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .top--right {
      color: #666;
      .icon {
        .icon--reply-post {
          stroke-width: 4;
          transition: all 1s ease;
        }
      }
    }
  }
  .body {
    background-color: #fff;
    border-radius: .625rem;
    .col--checkbox {
      height: 20px;
      //width: 5%;
    }
    .col--name {
      width: 30%;
    }
    .col--category {
      width: 30%;
    }
    .col--content {
      width: 35%;
      &-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .custom--checkbox {
      input[type="checkbox"] {
        border-radius: 6px;
        border: solid 1.5px #cccccc;
        cursor: pointer;
        height: 20px;
        outline: none;
        width: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:checked {
          background-color: #ffb94a;
          border: solid 1px #ffb94a;

          &:before {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            content: "";
            display: block;
            height: 10px;
            position: relative;
            left: 50%;
            top: 42%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 7px;
          }
        }
      }
    }
    .body--top {
      .left {
        .btn--change {
          border: 1px solid;
          border-radius: .375rem;
          cursor: pointer;
          font-size: .825rem;
          padding: 0 .25rem;
          transition: all .4s ease;
          &:hover {
            box-shadow: 0 0 3px rgba(0, 0, 0, .25);
          }
        }
        .title {
          color: #666;
          font-weight: 600;
        }
      }
      .right {
        .selected {
          color: #999;
          font-size: .825rem;
          span {
            color: #666;
            font-weight: 600;
          }
        }
      }
    }
    .item--empty {
      color: #999;
      font-size: .825rem;
    }
    .item--header {
      background-color: #fafafa;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #999;
      font-size: .85rem;
      font-weight: 600;
      height: 40px;
      .icon--remove {
        color: #999;
        cursor: pointer;
        margin-top: 2px;
        stroke: #999;
        stroke-width: .2;
        &:hover {
          color: #F96666;
          stroke: #F96666;
        }
      }
    }
    .item--body {
      font-size: calc(1rem - 3px);
      &:nth-child(even) {
        background-color: #1e1e21;
      }
      &:hover {
        background-color: #51515257;
        .icon--remove {
          opacity: 1;
        }
      }
      .icon--remove {
        opacity: 0;
        color: #999;
        cursor: pointer;
        margin-top: 2px;
        stroke: #999;
        stroke-width: .2;
        &:hover {
          color: #F96666;
          stroke: #f96666;
        }
      }
    }
  }
}
.wrap[data-theme="light"] {
  .item--header {
    background-color: #fff;
  }
  .item--body {
    background-color: #fafafa;
  }
  .image--wrap-more {
    background-color: #e4e4e4;
    color: #999999;
  }
}

//DARK

.wrap[data-theme="dark"] {
  .custom {
    background: #303236;
    .body {
      background: #27292d;
      color: #ccc;
      .body--top {
        .left .title, .right .selected {
          color: #ccc;
          span {
            color: #ccc;
          }
        }
      }
    }
  }
  .wrapper {
    // background-color: #00000042;
    .content {
      background: #00000042;
    }
  }
  .item--header {
    background-color: #00000087;
    color: #cccccc;
  }
  // .item--body {
  //   background-color: #27292c;
  //   color: #999999;
  // }
  // .image--wrap-more {
  //   background-color: #2f3136;
  //   color: #999999;
  // }
}
