.header {
  height: 60px;
  padding: 0.5rem 1rem;
  .left {
    .avatar {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    .title {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
  .right {
    .icon {
      background-color: #F7F7F7;
      border-radius: 50%;
      cursor: pointer;
      height: 36px;
      width: 36px;
      svg {
        color: #999;
        transition: all .4s ease;
        &:hover {
          color: #666;
        }
      }
      .active {
        color: #666;
      }
      .icon--create{
        stroke: #999;
        stroke-width: .75;
        &:hover {
          stroke: #666;
        }
      }
    }
    .dropdown--setting {
      background: #ffffff;
      border: 1px solid #e4e4e4;
      border-radius: .625rem;
      box-shadow: 0 0 8px rgba(0, 0, 0, .15);
      font-size: .875rem;
      top: 40px;
      padding: .5rem 0;
      min-width: 160px;
      z-index: 999;
      .dropdown--setting-item {
        cursor: pointer;
        padding: .375rem .75rem;
        transition: background-color .4s ease;
        &:hover {
          background-color: #F7F7F7;
        }
      }
    }
  }
}
.header[data-theme="dark"] {
  background-color: #2F3136;
  color: #fff;
  .left {
    .title {

    }
  }
  .right {
    .icon {
      background-color: #2F3136;
    }
    .dropdown--setting {
      background-color: #27292d;
      border-color: #27292d;
      .dropdown--setting-item {
        &:hover {
          background-color: #2F3136;
        }
      }
    }
  }
}
