/**     Script Body Text Edit     **/
.body {
    //border-bottom: solid 1px;
    .icon--delete,
    .icon--move {
        cursor: pointer;
        transition: all 0.4s ease;
        &:hover {
            color: #ffb94a;
        }
    }
}

.text {
    margin: 0 0 25px;
    position: relative;
    .text-edit {
        background: #ffffff;
        border-radius: 10px;
        border: 10px solid #E4E4E4;
        min-height: 60px;
        outline: none;
        text-align: left;
        padding: 10px 16px;
        width: 280px;
        >div {
            &:focus,
            &:active,
            &:visited {
                box-shadow: none;
                outline: 0;
            }
        }
        div[contenteditable="true"]:empty:before {
            content: 'Nhập văn bản';
            color: #444
        }
    }
}


/**      Script Body Upload Image    **/

.images {
    height: 207px;
    margin-bottom: 25px;
    &:hover,
    &:focus,
    &:visited,
    &:active {
        >.upload--image {
            display: block;
        }
    }
    .image--link {
        border-radius: 10px;
        overflow: hidden;
        width: 280px;
    }
    .upload--image {
        background-color: rgba(153, 153, 153, 0.4);
        border-radius: 10px;
        color: #ffffff;
        display: none;
        height: 100%;
        width: 280px;
        top: 0;
        left: 0;
        z-index: 1;
        input#upload_image {
            cursor: pointer;
            height: 100%;
            left: 0;
            opacity: 0;
            top: 0;
            position: absolute;
            width: 100%;
            z-index: 2;
        }
        .image--icon {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            cursor: pointer;
            width: 100%;
        }
    }
}


/******** 01. Theme Light *********/

div[data-theme="light"] .body {
    border-color: #e4e4e4;
}


/******** 02. Theme Dark *********/

div[data-theme="dark"] .body {
    //border-color: #444;
    .text-edit {
        background: #27292D;
        border-color: #444;
    }
}
//Footer
.title {
    box-shadow: none;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #666666;
    margin: 0 0 10px;
}

.group {
    margin: 0 -5px;
    .item {
        align-items: center;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        height: 68px;
        margin: 0;
        margin-right: 0.25rem;
        outline: none;
        padding: 1px 0 0;
        position: relative;
        transition: background-color 150ms ease;
        width: 85px;
        z-index: 3;
        &:last-child {
            margin-right: 0;
        }
        &:hover,
        &:active,
        &:focus {
            background-color: #FFB94A !important;
            color: #fff !important;
            svg {
                color: #fff !important;
            }
        }
        svg {
            margin-bottom: 10px;
        }
    }
}


/******** 01. Theme Light *********/

div[data-theme="light"] .footer {}


/******** 02. Theme Dark *********/

div[data-theme="dark"] .footer {
    .title {
        color: #ffffff;
    }
    .item {
        background: #27292d;
        color: #ffffff;
    }
}